@charset "UTF-8";

/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    border: 0;
    vertical-align: middle;
}
body{
    font-family: "Nanum Gothic", '맑은 고딕', sans-serif;
    color: #6f6f6f;
}
ul::after{
    content: '';
    display: block;
    clear: both;
}

/* header */
header{
    width: 940px;
    margin: 0 auto;
    position: relative;
    height: 150px;   
}
header li{
    float: left;
}

h1{
    width: 66px;
    margin: 0 auto;
    padding-top: 17px;
}
.util{
    position: absolute;
    right: 0;
    top: 17px;
}
.util li{
    margin-left: 12px;
}
.util a{
    font-size: 10px;
    font-weight: 700;
}

.quickBanner{
    position: absolute;
    left: 0;
    top: 20px;
}
.quickBanner li{
    margin-right: 12px;
}
.quickBanner a{
    vertical-align: middle;
}

.gnb{
    width: 940px;
    margin-top: 10px;

    display: flex;
}

.gnb > li{
    flex: 1;
    text-align: center;
    height: 60px;
}
.gnb > li > a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1f1f1f;
    padding: 15px 0 0;
}
.gnb span{
    font-size: 12px;
    opacity: 0;
    transition: 0.3s;
}

.gnb > li:hover{
    background: #ba000c;
    color: #fff;
}
.gnb > li:hover a{
    color: #fff;
}
.gnb:hover span{
    opacity: 1;
}


/* slide */
#slide{
    width: 1920px;
    height: 480px;
    border-top: 3px solid #ba000c;

    position: relative;
    left: 50%;
    margin-left: -960px;
}
#slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* content */
#content{
    width: 940px;
    margin: 50px auto 0;

    display: grid;
    grid-template-columns: 225px auto auto 240px;
    grid-gap: 15px;
}

.franchise{
    background-color: #FAF9F7;
    padding-top: 30px
}
.content_title{
    padding-left: 17px;
}

.mall{
    grid-column: 2 span;
    padding-top: 30px;
}
.mall > img{
    margin-left: 17px;
}
.mall p{
    font-size: 13px;
    font-weight: bold;

    margin-top: 15px;
    margin-left: 17px;
}
.mall ul{
    margin-top: 45px;

    display: flex;
    width: 450px;
}
.mall ul li{
    flex: 1;
    border-right: 1px dotted #ccc;
}
.mall ul li:last-child{
    border-right: none;
}
.mall li img{
    width: 86px;
}
.mall li a{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mall li a span{
    font-size: 12px;
}
.mall li a span:hover{
    color: #ba000c;
}

.store{
    background-color: #FAF9F7;
    padding-top: 30px;
}

.banner1{
    grid-column: span 2;
}

.banner2{
    grid-column: span 2;
}


/* list */
#list{
    width: 940px;
    margin: 30px auto 0;

    display: flex;
    gap: 35px;
    font-size: 12px;
}

/* 여기서부터 저~기까진 걍 나 혼자 해본 거 ㅇㅇ

#list > ul{
    border: 1px solid red;
}

.list_title{
    width: 100%;
}

list .text{
    float: left;
    width: 153px;
    margin-bottom: 3px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
list .date{
    float: right;
    font-weight: bold;
}

.event{
    width: 205px;
}
.event li{
    font-size: 12px;
    margin-bottom: 3px;
}
.event li::after{
    content: '';
    display: block;
    clear: both;
}



.b2b{
    width: 205px;
}
.b2b li{
    font-size: 12px;
    line-height: 20px;
}
.b2b li a{
    margin-top: 4px;
}


.news{
    width: 205px;
}
.news li{
    font-size: 12px;
    margin-bottom: 3px;
}
.news li::after{
    content: '';
    display: block;
    clear: both;
}


.etc{
    flex: 1;
    display: flex;
}
.etc li{
    display: flex;
}
.etc li a{
    align-items: center;
}


.going{
    background: url(img/ico_arrow.gif) left 1px no-repeat;
    padding: 0 0 0 18px;
    margin-top: 7px;
} */

.event{
    width: 205px;
}
.b2b{
    width: 205px;
}
.b2b li{
    line-height: 1.4;
}
.going{
    background: url('img/ico_arrow.gif') left 1px no-repeat;
    padding: 0 0 0 18px;
    margin-top: 7px;
}
.news{
    width: 205px;
}

.etc{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.etc li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.etc li img{
    padding: 10px 20px;
}
.etc li:first-child img{
    border-right: 1px dotted #6f6f6f;
}
.etc li:first-child span{
    transform: translateY(4px);
}



#list .list_title{
    margin-bottom: 8px;
}
#list li{
    margin-bottom: 4px;
}
#list li a{
    display: flex;
    justify-content: space-between;
}
#list .text{
    width: 153px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#list .date{
    font-weight: bold;
}

#list .news .list_title a{
    justify-content: flex-start;
    gap: 10px;
}


/* sns */
#sns{
    width: 940px;
    margin: 50px auto;
    padding: 40px 0;
    border-top: 2px solid #ba000c;
}




/* footer */
footer{
    background-color: #ba000c;
    padding: 35px 0;
    color: #fff;
    font-size: 11px;
}
.footer_inner{
    width: 940px;
    margin: 0 auto;
}
footer li{
    float: left;
    padding-right: 8px;
}
footer li::after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 9px;
    background-color: #fff;
    margin-left: 8px;
}
footer li + li:last-child::after{
    display: none;
}
footer p{
    margin-top: 23px;
    opacity: .6;
}
footer address{
    opacity: .6;
    font-style: normal;
}